<html>
  <body style="height: 100bvh">
    <section style="display: flex; flex-direction: column; height: 100%">
      <div
        style="
          display: flex;
          flex-direction: column;
          flex: 0;
          justify-content: center;
          align-items: center;
        "
      >
        <h1 style="flex: 1">Score Tracker</h1>
        <div style="flex: 1">
          <button type="submit" onClick="console.log('click')">
            Click Here to Reset
          </button>
        </div>
      </div>
      <div
        id="cards"
        style="
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        "
      >
        <div>Card A</div>
        <div>Card B</div>
      </div>
    </section>
  </body>
</html>
